@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap'); */

#logo {
    mix-blend-mode: screen;
    margin-left: 3em;
    margin-top: 3em;
}

#about {
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

#about h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
}

.img-fluid {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: 100% 35%;
    position: fixed;
    z-index: -1;
    filter: brightness(60%)
}

.container {
    height: 100vh;
}